body {
    margin: 0;
    font-family: Arial;
    background: #c2d56f;
}

h1 {
    text-align: center;
}

#grupoA, #grupoB, #grupoC {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding-left: 20px;
}

details {
    margin-top: 10px;
    padding: 10px;
    background: #7ea568;
    border-radius: 8px;
    text-align: center;
}

h3 {
    cursor: pointer;
    text-align: center;
    list-style: none;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 8px;
}