body {
  background: #121213;
  color: white;
  font-family: Arial;
  text-align: center;
}
.container {
  margin-top: 50px;
}
h1 {
  letter-spacing: 4px;
}
.linha {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.quadrado {
  width: 60px;
  height: 60px;
  border: 2px solid #3a3a3c;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

input {
  width: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
}
button {
  height: 55px;
  margin-left: 10px;
  padding: 0 20px;
  cursor: pointer;
}
